<div class="container">
    <h3>Deploy</h3>
    <sba-accordion>
        <sba-accordion-group ng-repeat="actionsContainer in actionsContainers">
            <sba-accordion-heading>
                <ul class="breadcrumb" style="margin: 0; background-color: #34302D;">
                    <li style="text-shadow: none;">
                        <small class="muted">Plugin</small>
                        <a ng-if="actionsContainer.selectedAction" ng-click="actionsContainer.selectedAction = null">{{actionsContainer.name}}</a>
                        <span ng-if="actionsContainer.selectedAction" class="divider">/</span>
                        <span ng-if="!actionsContainer.selectedAction">{{actionsContainer.name}}</span>
                    </li>
                    <li style="text-shadow: none;" ng-if="actionsContainer.selectedAction.name">
                        <small class="muted">Action</small> {{actionsContainer.selectedAction.name}}
                    </li>
                </ul>
            </sba-accordion-heading>
            <sba-accordion-body>
                <div ui-view="{{actionsContainer.name}}"></div>
            </sba-accordion-body>
        </sba-accordion-group>
    </sba-accordion>
</div>