<style>
    .list-style {
        list-style: none;
        border: 0px;
    }
    
    .action-detail {
        padding: 10px 5px;
        font-size: 12px;
    }
    .pre-success {
        border: 3px solid green;
    }
    .pre-danger {
        border: 3px solid red;
    }
</style>
<li class="list-style" ng-repeat="step in $ctrl.action.steps">
    <div class="action-detail">
        <span style="word-wrap:break-word" ng-show="!step.edit" ng-dblclick="$ctrl.editStep(step)">{{step.exec}} {{step.args.join(' ')}}</span>
        <input type="text" style="background-color:transparent;width:98%" ng-blur="step.edit=false" ng-keypress="($event.which === 13)?step.edit=false:0"
            ng-show="step.edit" ng-model="step.exec" />
    </div>
</li>
<div class="action-result" ng-if="$ctrl.action.results">
    <pre ng-class="{'pre-success': rs.success, 'pre-danger': !rs.success}" ng-repeat="rs in $ctrl.action.results"><span style="white-space:pre-wrap;">{{rs.info}}</span></pre>
</div>